<div class="container-fluid">
    <div class="row"> 
    </div>
    <div class="row">
      <div class="col-md-3"> 
        <app-sidebar-owner></app-sidebar-owner>
      </div>
      <div class="col-md-8">
          <div class="well well-lg">
            
             <h2 class="display-3">My Drones</h2>
             <hr class="my-3">
             <div class="row">
                <div class="col-sm-6 col-md-4">
                  <div class="thumbnail">
                    <img src="../../../../assets/drone.jpg" alt="drone">
                    <div class="img-thumbnail">
                      <h3>Single-Rotor drones</h3>
                      <div class="panel-body">
                          <fieldset disabled> 
                          <div class="form-group col-xs-12">
                            <div class="col-xs-2"><label for="name">Drone type :</label></div>
                            <div class="col-xs-10">
                              <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name">
                            </div>
                          </div>
                          <div class="form-group col-xs-12">
                              <div class="col-xs-2"><label for="address">location :</label></div>
                              <div class="col-xs-10">
                                <input type="text" class="form-control" id="address" name="address" [(ngModel)]="address">
                              </div>
                            </div>
                          <div class="form-group col-xs-12">
                            <div class="col-xs-2"></div><label for="phone_mobile">Price:</label></div>
                            <div class="col-xs-4">
                              <input type="text" class="form-control" id="phone_mobile" name="phone_mobile" [(ngModel)]="phone_mobile">
                            </div>
                            <div class="col-xs-2"><label for="phone_fixed">Quality :</label></div>
                            <div class="col-xs-4">
                              <input type="text" class="form-control" id="phone_fixed" name="phone_fixed" [(ngModel)]="phone_fixed">
                            </div>
                            <div class="col-xs-2"><label for="phone_fixed">Contact no:</label></div>
                            <div class="col-xs-4">
                              <input type="text" class="form-control" id="phone_fixed " name="phone_fixed" [(ngModel)]="phone_fixed">
                            </div>
                          </div> 
                      </fieldset>
                      <p><a routerLink="/drone_reg" class="btn btn-primary" role="button">View Details</a> </p>
                    </div>
                  </div>
                </div>
              </div>





        </div>
    </div>
  </div>
</div>