<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2">
      <app-sidebar-owner></app-sidebar-owner>
    </div>
    <div class="col-md-10">
      <form #new_drone_reg="ngForm" (ngSubmit)=get_new_drone(new_drone_reg)>
        <div class="panel panel-primary">
          <div class="panel-heading">Drone registration Details</div>
          <div class="panel-body">

            <div class="panel-heading">
              <!-- customer details -->
              <h4>
                <b>DRONE DETAILS</b>
              </h4>
            </div>
            <div class="panel-body">
              <fieldset>

                <div class="form-group col-xs-12" [class.has-error]="ModelControl.invalid && ModelControl.touched">
                  <div class="col-xs-2">
                    <label for="brand" class="control-lable">Brand :</label>
                  </div>
                  <div class="col-xs-10">
                    <input required id="brand" type="text" class="form-control" id="brand" name="brand" [(ngModel)]="brand" #ModelControl="ngModel"
                      placeholder="Brand">
                    <span class="help-block" *ngIf="ModelControl.invalid && ModelControl.touched"> Brand is Required </span>

                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Model :</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="model" name="model" [(ngModel)]="model" placeholder="Model">
                  </div>
                </div>



                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Weight :</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="weight" name="weight" [(ngModel)]="weight" placeholder="Weight">
                  </div>
                </div>


                <div class="form-group col-xs-12" [class.has-error]="MaxControl.invalid && MaxControl.touched">
                  <div class="col-xs-2">
                    <label for="max_no" class="control-lable">Max Speed :</label>
                  </div>
                  <div class="col-xs-10">
                    <input required id="max_no" type="text" class="form-control" id="max_speed" name="max_speed" [(ngModel)]="max_speed" #MaxControl="ngModel"
                      placeholder="Speed">
                    <span class="help-block" *ngIf="MaxControl.invalid && MaxControl.touched"> Maximum Speed is Required </span>
                  </div>
                </div>




                <div class="form-group col-xs-12" [class.has-error]="MaxfliControl.invalid && MaxfliControl.touched">
                  <div class="col-xs-2">
                    <label for="max_no" class="control-lable">Max Flight time:</label>
                  </div>
                  <div class="col-xs-10">
                    <input required id="max_fly" type="text" class="form-control" id="max_flight_time" name="max_flight_time" [(ngModel)]="max_flight_time"
                      #MaxfliControl="ngModel" placeholder="Flight Time">
                    <span class="help-block" *ngIf="MaxfliControl.invalid && MaxfliControl.touched"> Max Flight time is Required </span>
                  </div>
                </div>


                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Extra Battery :</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="extra_battery" name="extra_battery" [(ngModel)]="extra_battery" placeholder="Number of Extra Battery">
                  </div>
                </div>

                <div class="form-group col-xs-10">
                  <div class="col-xs-3">GPS Positioning :</div>
                  <div class="col-xs-12"></div>

                  <div class="col-sm-10"></div>
                  <div class="col-xs-4"></div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="gps_positioning" id="gps_positioning1" value="option1">
                    <label class="form-check-label" for="gps_positioning1">Yes</label>
                    <input class="form-check-input" type="radio" name="gps_positioning" id="gps_positioning2" value="option2">
                    <label class="form-check-label" for="gps_positioning2">No</label>
                  </div>
                </div>



                <div class="form-group col-xs-12">
                  <div class="col-xs-2">
                    <label for="vision_system">Vision System :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="vision_system" name="vision_system" [(ngModel)]="vision_system">
                      <option value="1">Foward</option>
                      <option value="2">Backward</option>
                      <option value="3">Downward</option>
                    </select>
                  </div>
                </div>



                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Altitude Range:</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="altitude_range" name="altitude_range" [(ngModel)]="altitude_range" placeholder="Altitude  Range">
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Obstracle Sensor Range:</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="obstacle_sensing_range" name="obstacle_sensing_range" [(ngModel)]="obstacle_sensing_range" placeholder="Obstacle Sensing Range">
                  </div>
                </div>
              </fieldset>
            </div>


            <div class="panel-heading">
              <!-- customer details -->
              <h4>
                <b>CAMERA DETAILS</b>
              </h4>
            </div>
            <div class="panel-body">
              <fieldset>

                <div class="form-group col-xs-12" [class.has-error]="SenseControl.invalid && SenseControl.touched">
                  <div class="col-xs-2">
                    <label for="sensor" class="control-lable">Sensor:</label>
                  </div>
                  <div class="col-xs-10">
                    <input required id="sensor" type="text" class="form-control" id="sensor" name="sensor" [(ngModel)]="sensor" #SenseControl="ngModel"
                      placeholder="Sensor">
                    <span class="help-block" *ngIf="SenseControl.invalid && SenseControl.touched"> Senser is Required </span>
                  </div>
                </div>



                <div class="form-group col-xs-12">
                  <div class="col-xs-2">
                    <label for="video_resolution">Video Resolution(p) :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="video_resolution" name="video_resolution" [(ngModel)]="video_resolution">
                      <option >360</option>
                      <option >480</option>
                      <option >720</option>
                      <option >1080</option>
                    </select>
                  </div>
                </div>



                <div class="form-group col-xs-12">
                  <div class="col-xs-2">
                    <label for="megapixels">Megapixels (MP) :</label>
                  </div>
                  <div class="col-xs-5">
                    <input  class="form-control " id="megapixels" name="megapixels" [(ngModel)]="megapixels">
                  </div>
                </div>


              </fieldset>
            </div>

            <div class="panel-heading">
              <!-- customer details -->
              <h4>
                <b>STORAGE DETAILS</b>
              </h4>
            </div>
            <div class="panel-body">
              <fieldset>

                <div class="form-group col-xs-12" [class.has-error]="StorageControl.invalid && StorageControl.touched">
                  <div class="col-xs-2">
                    <label for="storage_type" class="control-lable">Storage:</label>
                  </div>
                  <div class="col-xs-5">
                    <input required id="storage_type" type="text" class="form-control" id="storage_type" name="storage_type" [(ngModel)]="storage_type"
                      #StorageControl="ngModel" placeholder="Storage Type">
                    <span class="help-block" *ngIf="StorageControl.invalid && StorageControl.touched"> Storage is Required </span>
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Capacity:</div>
                  <div class="col-xs-5">
                    <input type="text" class="form-control" id="max_storage_capacity" name="max_storage_capacity" [(ngModel)]="max_storage_capacity"
                      placeholder="Capacity">
                  </div>
                </div>



                <div class="form-group col-xs-12">
                  <div class="col-xs-2">
                    <label for="operating_system">Operating System :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="supported_os" name="supported_os" [(ngModel)]="supported_os">
                      <option>IOS</option>
                      <option>Android </option>
                    </select>
                  </div>
                </div>


              </fieldset>
            </div>
            <div class="panel-heading">
              <!-- customer details -->
              <h4>
                <b>REMOTE DETAILS</b>
              </h4>
            </div>
            <div class="panel-body">
              <fieldset>
                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Operating Frequency :</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="frequency" name="frequency" [(ngModel)]="frequency" placeholder="Operating Frequency">
                  </div>
                </div>


                <div class="form-group col-xs-12">
                  <div class="col-xs-2">Max Transmission :</div>
                  <div class="col-xs-10">
                    <input type="text" class="form-control" id="max_transmission" name="max_transmission" [(ngModel)]="max_transmission" placeholder="Max Transmission">
                  </div>
                </div>




                <div class="form-group col-xs-12">
                  <div class="col-xs-2">
                    <label for="battery">Battery :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="battery_capacity" name="battery_capacity" [(ngModel)]="battery_capacity">
                      <option>6000mghz</option>
                      <option>Lipo 25</option>
                    </select>
                  </div>
                </div>


                <div class="form-group col-xs-12">
                  <div class="col-xs-2">
                    <label for="ports">Ports :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="port" name="port" [(ngModel)]="port">
                      <option>USB</option>
                      <option>HDMI</option>
                    </select>
                  </div>
                </div>


              </fieldset>
            </div>
            <div class="panel-footer">
              <input type='submit' class='btn btn-success' value='Register Drone' id='submit'>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>