<div class="container-fluid">
  <div class="row">
     <div class="col-xs-2">
      <app-sidebar-owner></app-sidebar-owner>
    </div> 
  <div class="col-md-10">
     
          <div class="panel panel-primary">
            <div class="panel-heading">Drone registration Details</div>
            <div class="panel-body">
              
                <div class="panel-heading">
                    <!-- customer details -->
                <h4><b>DRONE DETAILS</b></h4>
                </div>
                <div class="panel-body">
                <fieldset> 
            
            <div class="form-group col-xs-12"  [class.has-error]="DroneIdControl.invalid && DroneIdControl.touched">
                <div class="col-xs-2"> <label for="drone_id" class="control-lable">Drone ID :</label></div>
              <div class="col-xs-10">
                <input required id="drone_id" type="text" class="form-control" id="drone_id" name="drone_id" [(ngModel)]="drone_id" #DroneIdControl="ngModel" placeholder="Drone ID">
                <span class="help-block" *ngIf="DroneIdControl.invalid && DroneIdControl.touched"> ID is Required  </span>

              </div>
            </div>
          
            
            <div class="form-group col-xs-12" [class.has-error]="OwnerIdControl.invalid && OwnerIdControl.touched">
              <div class="col-xs-2"><label for="own_id" class="control-lable">Owner ID :</label></div>
              <div class="col-xs-10">
                <input  required id="own_id" type="text" class="form-control" id="own_id" name="own_id" [(ngModel)]="own_id"  #OwnerIdControl="ngModel" placeholder="Owner ID">
                <span class="help-block" *ngIf="OwnerIdControl.invalid && OwnerIdControl.touched"> ID is Required  </span>

              </div>
            </div>
          
            
            <div class="form-group col-xs-12"  [class.has-error]="ModelControl.invalid && ModelControl.touched">
              <div class="col-xs-2"><label for="model_no" class="control-lable">Model No :</label></div>
              <div class="col-xs-10">
                <input  required id="model_no" type="text" class="form-control" id="mname" name="mname" [(ngModel)]="mname"  #ModelControl="ngModel" placeholder="Model No">
                <span class="help-block" *ngIf="ModelControl.invalid && ModelControl.touched"> Model No is Required  </span>

              </div>
            </div>

            
            <div class="form-group col-xs-12">
                <div class="col-xs-2">Weight :</div>
              <div class="col-xs-10">
                <input type="text" class="form-control" id="wname" name="wname" [(ngModel)]="wname" placeholder="Weight">
              </div>
            </div>
          
          
          <div class="form-group col-xs-12"  [class.has-error]="MaxControl.invalid && MaxControl.touched">
            <div class="col-xs-2"><label for="max_no" class="control-lable">Max Speed :</label></div>
            <div class="col-xs-10">
              <input required id="max_no" type="text" class="form-control" id="sname" name="sname" [(ngModel)]="sname" #MaxControl="ngModel"  placeholder="Speed">
              <span class="help-block" *ngIf="MaxControl.invalid && MaxControl.touched"> Maximum Speed is Required  </span>
            </div>
          </div>
        
       
        <div class="form-group col-xs-12" [class.has-error]="MinServControl.invalid && MinServControl.touched">
          <div class="col-xs-2"><label for="max_no" class="control-lable">Min Service Celing:</label></div>
          <div class="col-xs-10">
            <input required id="min_serv" type="text" class="form-control" id="cname" name="cname" [(ngModel)]="cname"  #MinServControl="ngModel" placeholder="Service">
            <span class="help-block" *ngIf="MinServControl.invalid && MinServControl.touched"> Min Service Celing is Required  </span>
          </div>
        </div>
      
        
      <div class="form-group col-xs-12"  [class.has-error]="MaxfliControl.invalid && MaxfliControl.touched">
        <div class="col-xs-2"><label for="max_no" class="control-lable">Max Flight time:</label></div>
        <div class="col-xs-10">
          <input  required id="max_fly" type="text" class="form-control" id="iname" name="iname" [(ngModel)]="iname"  #MaxfliControl="ngModel" placeholder="Flight Time">
          <span class="help-block" *ngIf="MaxfliControl.invalid && MaxfliControl.touched"> Max Flight time is Required  </span>
        </div>
      </div>
    
      <div class="form-group col-xs-10">
          <div class="col-xs-3">GPS Positioning :</div>
          <div class="col-xs-12"></div>
         
          <div class="col-sm-10"></div>
              <div class="col-xs-4"></div>
              <div class="form-check form-check-inline">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                  <label class="form-check-label" for="inlineRadio1">Yes</label>
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                  <label class="form-check-label" for="inlineRadio2">No</label>
                </div>
          </div>
      
           
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Vision System :</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">Foward</option>
                      <option value="2">Backward</option>
                      <option value="3">Downward</option>
                    </select>
                  </div>
            </div>

                  <div class="form-group col-xs-12">
                      <div class="col-xs-2">Attitude Range:</div>
                    <div class="col-xs-10">
                      <input type="text" class="form-control" id="aname" name="aname" [(ngModel)]="aname" placeholder="Attitude  Name">
                    </div>
                  </div>
                  <div class="form-group col-xs-12">
                      <div class="col-xs-2">Obstracle Sensor Range:</div>
                    <div class="col-xs-10">
                      <input type="text" class="form-control" id="aname" name="aname" [(ngModel)]="aname" placeholder="Attitude  Name">
                    </div>
                  </div>
                </fieldset>
              </div>
                  <div class="panel-heading">
                      <!-- customer details -->
                  <h4><b>CAMERA DETAILS</b></h4>
                  </div>
                  <div class="panel-body">
                  <fieldset> 
            
            <div class="form-group col-xs-12" [class.has-error]="SenseControl.invalid && SenseControl.touched">
              <div class="col-xs-2"><label for="sense_no" class="control-lable">Sensor:</label></div>
              <div class="col-xs-10">
                <input required id="sense_no" type="text" class="form-control" id="sname" name="sname" [(ngModel)]="sname"  #SenseControl="ngModel"  placeholder="Sensor">
                <span class="help-block" *ngIf="SenseControl.invalid && SenseControl.touched"> Senser is Required  </span>
              </div>
            </div>
          
           
            <div class="form-group col-xs-12"  [class.has-error]="LenseControl.invalid && LenseControl.touched">
              <div class="col-xs-2"><label for="lense_no" class="control-lable">Lense:</label></div>
              <div class="col-xs-10">
                <input required id="lense_no" type="text" class="form-control" id="lname" name="lname" [(ngModel)]="lname"  #LenseControl="ngModel" placeholder="Lense Type">
                <span class="help-block" *ngIf="LenseControl.invalid && LenseControl.touched"> Lense is Required  </span>
              </div>
            </div>
      
      <div class="form-group col-xs-12">
          <div class="col-xs-3">Image Size:</div>
          <div class="col-auto my-1">
              <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option selected>Choose...</option>
                <option value="1">3:2</option>
                <option value="2">4:3</option>
                <option value="3">16:9</option>
              </select>
            </div>
      </div>
      
              
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Video Range:</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">HD</option>
                      <option value="2">FULL HD</option>
                      <option value="3">C4K</option>
                    </select>
                  </div>
            </div>
            
                </fieldset>
              </div>
            
              <div class="panel-heading">
                  <!-- customer details -->
              <h4><b>STORAGE DETAILS</b></h4>
              </div>
              <div class="panel-body">
              <fieldset> 
            
            <div class="form-group col-xs-12" [class.has-error]="StorageControl.invalid && StorageControl.touched">
                <div class="col-xs-2"><label for="storage_no" class="control-lable">Storage:</label></div>
              <div class="col-xs-10">
                <input required id="storage_no" type="text" class="form-control" id="tname" name="tname" [(ngModel)]="tname"  #StorageControl="ngModel" placeholder="Storage Type">
                <span class="help-block" *ngIf="StorageControl.invalid && StorageControl.touched"> Storage is Required  </span>
              </div>
            </div>
         
            <div class="form-group col-xs-12">
            <div class="col-xs-2">Capacity:</div>
              <div class="col-xs-10">
                <input type="text" class="form-control" id="vname" name="vname" [(ngModel)]="vname" placeholder="Capacity">
              </div>
            </div>
          
              
              <div class="form-group col-xs-12">
                  <div class="col-xs-2">Voltage:</div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="oname" name="oname" [(ngModel)]="oname" placeholder="Voltage">
                </div>
              </div>
              
              
              <div class="form-group col-xs-12">
                  <div class="col-xs-2">Rated Power:</div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="rname" name="rname" [(ngModel)]="rname" placeholder="Rated Power">
                </div>
              </div>
            
              
                 
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Operating System:</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">ios</option>
                      <option value="2">Anroid</option>
                      
                    </select>
                  </div>
                  </div>
                  
           
                </fieldset>
              </div>
              <div class="panel-heading">
                  <!-- customer details -->
              <h4><b>REMOTE DETAILS</b></h4>
              </div>
              <div class="panel-body">
              <fieldset> 
            <div class="form-group col-xs-12">
                <div class="col-xs-2">Operating Frequency :</div>
              <div class="col-xs-10">
                <input type="text" class="form-control" id="ename" name="ename" [(ngModel)]="ename" placeholder="Operating Frequency">
              </div>
            </div>
         
            
            <div class="form-group col-xs-12">
                <div class="col-xs-2">Max Transmission :</div>
              <div class="col-xs-10">
                <input type="text" class="form-control" id="xname" name="xname" [(ngModel)]="xname" placeholder="Max Transmission">
              </div>
            </div>
         
              
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Battery:</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">6000mghz</option>
                      <option value="2">Lipo 25</option>
                      
                    </select>
                  </div>
            </div>
            
             
              
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Ports:</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">USB</option>
                      <option value="2">HDMI</option>
                      
                    </select>
                  </div>
            </div>
          </fieldset>
        </div>
        <div class="panel-heading">
            <!-- customer details -->
        <h4><b>SPECIAL</b></h4>
        </div>
        <div class="panel-body">
        <fieldset> 
              
                 
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Camera Quality:</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">6000mghz</option>
                      <option value="2">Lipo 25</option>
                      
                    </select>
                  </div>
            </div>
             
                
            <div class="form-group col-xs-12">
                <div class="col-xs-3">Battery Time:</div>
                <div class="col-auto my-1">
                    <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">6000mghz</option>
                      <option value="2">Lipo 25</option>
                      
                    </select>
                  </div>
            </div>
                </fieldset>
              </div>
            
                  <div class="panel-footer">
                      <a class="btn btn-primary btn-lg button" routerLink="" role="button">Save</a>
                    </div>
            </div>
            </div>
</div>
  </div>
</div>

 