<div class="container-fluid">
  <div class="row">
  </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-owner></app-sidebar-owner>
    </div>
    <div class="col-md-8">
      <div class="page-header">
        <h2 class="display-3">Up Coming Requests</h2>
        <hr class="my-3">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th>Req ID</th>
              <th>Town</th>
              <th>Customer ID</th>
              <th>Date</th>
              <th>Time</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let request of all_pending_req_arr ">
              <td> {{ request.req_id}} </td>
              <td> {{ request.town}} </td>
              <td> {{ request.cus_id}} </td>
              <td> {{ request.date}} </td>
              <td> {{ request.time}} </td>
              <td>
                <button class="btn btn-success" routerLink="/owner_req_view/{{request.req_id}}">View More</button>
              </td>
            </tr>
          </tbody>
        </table>

        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">2</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
