<div class="row">
   <div class="col-xs-2">
      <app-sidebar></app-sidebar>
   </div>
   <div class="col-xs-8">
      <div>
         <div>
            <h2 class="page-header "> All Registered Customers</h2>
         </div>
         <div class="panel panel-primary ">
            <div class="panel-heading">
               Customers List
            </div>
            <div class="panel-body">
               <div>
                  <table class="table">
                     <thead class="thead-dark">
                        <tr>
                           <th>Customer ID</th>
                           <th>First Name</th>
                           <th>Last Name</th>
                           <th>Email</th>
                           <th>NIC</th>
                           <th>Mobile No.</th>
                           <th>Actions</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr *ngFor="let customer of all_reg_cus ">
                           <td> {{ customer.cus_id}} </td>
                           <td> {{ customer.f_name}} </td>
                           <td> {{ customer.l_name}} </td>
                           <td> {{ customer.email}} </td>
                           <td> {{ customer.nic}} </td>
                           <td> {{ customer.phone_mobile}} </td>
                           <td>
                              <button class="btn btn-success" routerLink="">View More</button>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>