<!-- Sidebar -->
<div id="sidebarcanves">
        <ul class="sidebar-nav sidebar-responsive">
            <li>
                <a href="admin_main_panel"><span class="glyphicon glyphicon-user" style="zoom:1.5; padding-right: 10px;"></span>Admin Panel</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-plane" style="zoom:1.5; padding-right: 10px;"></span>View Flying Requests</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-saved" style="zoom:1.5; padding-right: 10px;"></span>View Registered PHIs</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-saved" style="zoom:1.5; padding-right: 10px;"></span>View Registered Owners</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-saved" style="zoom:1.5; padding-right: 10px;"></span>View Registered Pilots</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-usd" style="zoom:1.5; padding-right: 10px;"></span>Service Charges</a>
            </li>
            <li>
                <a href="#"><span class="glyphicon glyphicon-wrench" style="zoom:1.5; padding-right: 10px;"></span>Settings</a>
            </li>
        </ul>
</div>