
    <div class="container login-container">
        <form #login="ngForm" (ngSubmit)=post_login_data(login)>
            <div class="card card-primary left-block">
                <div class="card-header">Please Loging to continue</div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Your Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Your Password">
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox">Remember Me</label>
                        </div>
                    </div>
                    <button class="btn btn-success"> Login</button>
                </div>
            </div>
        </form>
    </div>
