<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div class="mybackground">
	<div class="container">
		<form #login="ngForm" (ngSubmit)=post_login_data(login)>
			<h1 style="text-align: center; color: blue; margin-top: 50px; text-shadow: 0 0 5px #000000, 0 0 5px #000000;">WELCOME TO DROPORT</h1>
			<div class="panel panel-primary left-block">
				<div class="panel-heading">Please Loging to continue</div>
				<div class="panel-body">

					<div class="form-group">
						<label for="username">Username</label>
						<input type="text" class="form-control" name="username" [(ngModel)]="username" placeholder="Your Username">
					</div>
					<div class="form-group">
						<label for="password">Password</label>
						<input type="password" class="form-control" name="password" [(ngModel)]="password" placeholder="Your Password">
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label>
								<input type="checkbox">Remember Me</label>
						</div>
					</div>
					<button class="btn "> Login</button>
					<hr>


					<!-- <button type="button" class="btn btn-primary" (click)="toggle_option()">{{option_preview? "Hide":"More"}} Loging Options</button>
				<div *ngIf="option_preview">
					<div>
						<button class="btn btn-default">Login with facebook</button>
					</div>
					<div>
						<button class="btn btn-default">Login with Gmail</button>
					</div>


				</div> -->

				</div>
			</div>
		</form>
	</div>
</div>