<footer>
    <div class="top-line">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3 contact">
                <h5>
                    <p>
                        <strong>Contact US</strong>
                    </p>
                </h5>
                <div class="ml-1 mt-1 text-center">
                    <span class="rounded-circle">
                        <div>
                            <i class="fa fa-envelope"></i>
                            <a href="mailto:info@droport.com">info@droport.com</a>
                        </div>
                    </span>
                </div>
                <div class="ml-1 mt-1 text-center">
                    <span class="rounded-circle">
                        <a href="">
                            <i class="fa fa-phone"></i>
                            <a href="tel:+1-844-683-8633">+1-844-683-8633</a>
                        </a>
                    </span>
                </div>

            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3 navigation">
                <h5>
                    <p>
                        <strong>Navigate</strong>
                    </p>
                </h5>
                <div>
                    <a class="footer-link" href="/home">Home</a>
                    <a class="footer-link" href="/contact">Services</a>
                    <a class="footer-link" href="/about">About Us</a>
                    <a class="footer-link" href="/services">Services</a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 mb-3 social-media">
                <h5>
                    <p>
                        <strong>Social Media</strong>
                    </p>
                </h5>
                <div class="ml-1">
                    <span class="rounded-circle">
                        <a href="https://www.twitter.com">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </span>
                    <span class="rounded-circle">
                        <a href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </span>
                    <span class="rounded-circle">
                        <a href="https://www.linkedin.com">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </span>
                    <span class="rounded-circle">
                        <a href="https://plus.google.com">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div class="bottom-line">
        <div class="copyright-text">
            All right Reserved | DroPort Team © 2018
        </div>

    </div>
</footer>