footer .bottom-line {
    background-color: rgb(94, 76, 95);
    color: #fff;
    height: 30px;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

footer .top-line {
    background-color: rgb(105, 104, 112);
    color: #fff;
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

footer {
    margin-top: 20px
}

footer .row {
    padding-top: 20px
}

.footer-social-icon {
    border-radius: 50%;
    border: 1px solid white;
    padding: 11px;
    margin: 5px;
}

.rounded-circle i {
    padding-left: 15px;
    padding-right: 15px;
    color: white;
    margin: 0px 5px;
}

.footer-link {
    padding: 10px;
}

a {
    text-decoration: none;
    color: #fff !important;
}

a.footer-link {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

a.footer-link:hover {
    text-decoration: none;
    color: rgb(104, 49, 145);
}

.footer-ownership {
    font-size: 9pt !important;
}

/* font icons */

.fa-facebook-f {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    border: double white 1px;
    padding: 7px 7px 0px 7px !important;
    color: white;
    text-decoration: none !important;
}

.fa-linkedin-in {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    border: double white 1px;
    padding: 7px 7px 0px 7px !important;
    color: white;
    text-decoration: none !important;
}

.fa-twitter {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    border: double white 1px;
    padding: 7px 7px 0px 7px !important;
    color: white;
    text-decoration: none !important;
}

.fa-google-plus-g {
    border-radius: 50%;
    width: 31px;
    height: 31px;
    border: double white 1px;
    padding: 7px 7px 0px 7px !important;
    color: white;
    text-decoration: none !important;
}

.fab {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media only screen and (min-width: 768px) {
    .footer-link {
        display: block;
        border-right: none;
        width: 100%;
        margin: 5px;
        padding: 0;
    }
}

@media only screen and (min-width: 940px) {
    .footer-link {
        display: inline;
        margin: 10px;
    }
}