<meta name="viewport" content="width=device-width, initial-scale=1">

<nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="#"> <img src="../../../assets/images/nav.png" alt="logo" height="50px"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li>
                <a routerLink="./home">Home </a>
            </li>
            <li>
                <a routerLink="./land_services">Services </a>
            </li>
            <li>
                <a routerLink="./land_about">About Us </a>
            </li>
            <li>
                <a routerLink="./land_contactus">Contact Us</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li *ngIf="!isLogged()">

                <span class="glyphicon glyphicon-user">
                    <div class="dropdown">
                        <a class="register-btn">Register</a>
                        <div class="dropdown-content">
                            <a routerLink="./own_reg">Owner</a>
                            <a routerLink="./pil_reg">Pilot</a>
                            <a routerLink="./cus_reg">Customer</a>
                        </div>
                    </div>
                </span>
            </li>

            <li *ngIf="!isLogged()">
                <a routerLink="./login">
                    <span class="glyphicon glyphicon-log-in"></span>Login</a>
            </li>

            <li *ngIf="isLogged()" style="display: inline;">
                <span class="glyphicon glyphicon-user">
                    <div class="dropdown">
                        <button class="dropbtn">{{user}}</button>
                        <div class="dropdown-content">
                            <a routerLink="./cus_prof">Profile</a>
                            <a routerLink="./login" (click)="logout()">Logout</a>
                        </div>
                    </div>
                </span>
            </li>
        </ul>
    </div>
</nav>

<script>
    $(document).ready(function () {
        var reg_btn = $(".dropbtn")
        var reg_content = $(".dropdown-content")
        reg_btn.click(reg_content.css(display, block))
    })

</script>