.navbar{
    height: auto;
    background:#312f49; 
}

ul li{
    margin: 5px;
    padding: 5px;
}

 ul li a{
     text-decoration: none;
     color: rgb(255,255,255)
 }

 ul li:hover{
    /* background-color: rgba(233, 190, 231, 0.938);   */
    color: rgb(29, 27, 112);
}

.dropbtn {
    border: none;
    background-color:transparent;
}

.navbar-brand img{
    zoom: 1.5;
}

.dropdown {
    position: relative;
    display: inline; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:rgba(120, 132, 236, 0.938);}

.dropdown:hover .dropdown-content {display: block;}


