.navbar{
    height: 50px;
    background:#463bdf; 
}

.nav_search{
    padding-top: 8px;
    padding-right: 5px;
}

a{
    color: #FFF;
}

ul a:hover{
    background-color:  rgba(120, 132, 236, 0.938);
    color: #FFF;
  
  }

  .dropbtn {
   
    border: none;
    background-color:transparent;
}

.dropdown {
    position: relative;
    display: inline; 
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color:rgba(120, 132, 236, 0.938);}

.dropdown:hover .dropdown-content {display: block;}


