 <div class="container-fluid">
  <div class="row"> 
  </div>
  <div class="row">
    <div class="col-md-3"> 
      <app-sidebar-owner></app-sidebar-owner>
    </div>
    
    <div class="col-md-8">
       <div class="well well-lg">
         
          <h2 class="display-3">New Flying Request</h2>
          <hr class="my-3">
              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="lname">Request ID:</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="lname" placeholder="FR ID">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="District">District :</label></div>
                <div class="col-xs-10 ">
                  <input type="text" class="form-control" id="District" name="District" [(ngModel)]="District" placeholder="District name">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="age">Town :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="town" name="town" [(ngModel)]="age" placeholder="Town Name">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="nic">Area :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="area" name="area" [(ngModel)]="area" placeholder="Area">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="mobile_no">Date : </label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="date" name="date" [(ngModel)]="date" placeholder="dd/mm/YY">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="name">Customer Name : </label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="name" name="name" [(ngModel)]="name" placeholder="Name">
                </div>
              </div>
-->
            </div>
            
           </div>
    </div>
  
  <div class="row">
    Footer goes here!
  </div>

</div>

