<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  class="navbar-brand" >DroPort System</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="./land_home">Home</a></li>
      <li><a routerLink="./land_services">Services</a></li>
      <li><a routerLink="./land_about">About Us</a></li>
      <li><a routerLink="./land_contactus">Contact Us</a></li>

     </ul>
    
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user" style="zoom:1.5;padding-right: 10px;"></span>Profile</a></li>
      <li><a routerLink="./land_home"><span class="glyphicon glyphicon-log-in" style=" zoom:1.5;padding-right: 10px;"></span>LogIn</a></li>
      <li class="nav_search"><input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"></li>
      <li class="nav_search"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button></li>  
    </ul>
  </div>
</nav>

<!--
   <ul>
      <li><a routerLink="./admin_main_panel">admin</a></li>
      <li><a routerLink="./own_main_page">owner</a></li>
      <li><a routerLink="./pil_main_page">pilot</a></li>
      <li><a routerLink="./cus_new_req">Customer</a></li>
    </ul>
-->