<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a  class="navbar-brand" >Drone For Dengue</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Item 1</a></li>
      <li><a href="#">Item 2</a></li>
      <li><a href="#">Item 3</a></li>
      <li ><a href="#">Item 4</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href=""><span class="glyphicon glyphicon-user" style="zoom:1.5;padding-right: 10px;"></span>Profile</a></li>
      <li><a href="login"><span class="glyphicon glyphicon-off" style=" zoom:1.5;padding-right: 10px;"></span>Logout</a></li>
    </ul>
  </div>
</nav>