.container_my{
    width: 100%;
    padding: 20px;
    padding-bottom: 70px;
    

}

h1{
    font-family: Roboto;
    font-weight: bold;
    align-self: auto;
    font-size: 50px;
    text-align: center;
    /* padding-bottom: 5px;
    padding-right: 30px; */

}

.container{
    width: 1500px;
}
