<div>
    <div class="col-md-2">
        side bar
    </div>
    <div class="col-md-10">
        <div class="page-header">
            <h3>Registered Owners</h3>
        </div>
        <div>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>Owner ID</th>
                        <th>Name</th>
                        <th>Mobile</th>
                        <th>E-mail</th>
                        <th># of Drones</th>
                        <th>Rating</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let owner of all_own_arr ">
                        <td> {{ owner.own_id}} </td>
                        <td> {{ owner.fname}} {{owner.lname}}</td>
                        <td> {{ owner.mobile_no}} </td>
                        <td> {{ owner.email}} </td>
                        <td> {{ owner.no_of_drones}} </td>
                        <td> {{ owner.rating}} </td>
                       
                        <td>
                            <button class="btn btn-success" routerLink="/admin_req_view/{{owner.req_id}}">View More</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>