<!-- Sidebar -->
<div id="sidebarcanves">
  <ul class="sidebar-nav sidebar-responsive">
      <li>
          <a href="pil_main_page"><span class="glyphicon glyphicon-user" style="zoom:1.5; padding-right: 10px;"></span>My Pending Requests</a>
      </li>
      <li>
          <a href="pil_fly_history"><span class="glyphicon glyphicon-plane" style="zoom:1.5; padding-right: 10px;"></span>My Flying History</a>
      </li>
      <li>
        <a href="pil_profile"><span class="glyphicon glyphicon-user" style="zoom:1.5; padding-right: 10px;"></span>My Profile</a>
      </li>
      <li>
          <a href="#"><span class="glyphicon glyphicon-wrench" style="zoom:1.5; padding-right: 10px;"></span>Settings</a>
      </li>
      
  </ul>
</div>