<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-customer></app-sidebar-customer>
    </div>
    <div class="col-md-10">
      <form #cus_new_req="ngForm" (ngSubmit)=get_req_data(cus_new_req)>

        <div class="container">
          <div class="page-header">
            <label>
              <h2>DroPort System - New Flying Request </h2>
            </label>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Flying Request Description</div>
            <div class="panel-body">

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="req_type">Request Type :</label>
                </div>
                <div class="col-xs-5">
                  <select class="form-control " id="req_type" name="req_type" [(ngModel)]="req_type">
                    <option>Wedding</option>
                    <option>Media</option>
                    <option>Arial Photo</option>
                    <option>Research</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="district">District :</label>
                </div>
                <div class="col-xs-2">
                  <select class="form-control" name="district" id="district" [(ngModel)]="district">
                    <option>Ampara</option>
                    <option>Anuradhapura</option>
                    <option>Badulla</option>
                    <option>Batticaloa</option>
                    <option selected>Colombo</option>
                    <option>Galle</option>
                    <option>Gampaha</option>
                    <option>Hambantota</option>
                    <option>Jaffna</option>
                    <option>Kalutara</option>
                    <option>Kandy</option>
                    <option>Kegalle</option>
                    <option>Kilinochchi</option>
                    <option>Kurunegala</option>
                    <option>Mannar</option>
                    <option>Matale</option>
                    <option>Matara</option>
                    <option>Monaragala</option>
                    <option>Mullaitivu</option>
                    <option>Nuwaraeliya</option>
                    <option>Polonnaruwa</option>
                    <option>Puttalam</option>
                    <option>Ratnapura</option>
                    <option>Trincomalee</option>
                    <option>Vavuniya</option>
                  </select>
                </div>
                <div class="col-xs-2">
                  <label for="town">Town :</label>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" id="town" name="town" [(ngModel)]="town">
                </div>
                <div class="col-xs-2">
                  <label for="town">Area :</label>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" id="area" name="area" [(ngModel)]="area">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="date" class="lable">Date :</label>
                </div>
                <div class="col-xs-2">
                  <input type="date" class="form-control" name="date" required="" [(ngModel)]="date">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="time">Time </label>
                </div>
                <div class="form-group col-xs-2">
                  <label for="time_from">From :</label>
                  <input type="time" class="form-control" id="time_from" name="time_from" [(ngModel)]="time_from">
                </div>
                <div class=" form-group col-xs-2">
                  <label for="time_to">To :</label>
                  <input type="time" class="form-control" id="time_to" name="time_to" [(ngModel)]="time_to">
                </div>
              </div>

              <div class="col-xs-5">
                <div class="form-group">
                  <div class="col-xs-5">
                    <label for="quality_category">Quality Category :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="quality_category" name="quality_category" [(ngModel)]="quality_category">
                      <option>Ultra</option>
                      <option>High</option>
                      <option>Medium</option>
                      <option>Low</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="col-xs-6">
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="quality_category">Max Flight Time (In minutes) :</label>
                  </div>
                  <div class="col-xs-6">
                    <select class="form-control " id="max_flight_time" name="max_flight_time" [(ngModel)]="max_flight_time">
                      <option value="10">Less 10 min</option>
                      <option value="30">10 min - 30 min</option>
                      <option value="60">30 min - 60 min</option>
                      <option value="00">More than 60 min</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="form-group col-md-12">
                <div class="col-md-2">
                  <label for="drone" class="lable">Drone :</label>
                </div>
                <div class="col-md-2">
                  <input type='text' class="form-control" name="dro_id" [(ngModel)]="dro_id" readonly>
                </div>
              </div>

              <div class="form-group">
                <div class="col-xs-12">
                  <button type='button' class='btn btn-warning' (click)="drone_selected()">{{drone_select? "Confirm Selection":"Select Drone"}}</button>

                  <!-- Drone Selection Panel -->

                  <div *ngIf="drone_select">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        Results
                      </div>
                      <div class="panel-body">

                        <!-- loop for each drone -->
                        <div *ngFor="let drone of all_drone_arr">
                          <div class="col-md-6">
                            <div class="panel panel-default">
                              <div class="panel-heading">
                                {{drone.model}}
                              </div>
                              <div class="panel-body">
                                <div class="col-md-12">
                                  <div class="col-md-6">
                                    <strong>Max speed :</strong>
                                  </div>
                                  <div class="col-md-6">
                                    {{drone.max_speed}}
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-6">
                                    <strong>GPS :</strong>
                                  </div>
                                  <div class="col-md-6">
                                    {{drone.gps_positioning}}
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-6">
                                    <strong>Obstacle sensor :</strong>
                                  </div>
                                  <div class="col-md-6">
                                    {{drone.obstacle_sensing_range}}
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-6">
                                    <strong>Max Storage :</strong>
                                  </div>
                                  <div class="col-md-6">
                                    {{drone.max_storage_capacity}}
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-6">
                                    <strong>Max Continous Fly Time (min):</strong>
                                  </div>
                                  <div class="col-md-6">
                                    {{drone.fly_time_category}}
                                  </div>
                                </div>

                                <div class="col-md-12">
                                  <div class="col-md-6">
                                    <strong>Drone ID:</strong>
                                  </div>
                                  <div class="col-md-6">
                                    {{drone.dro_id}}
                                  </div>
                                </div>
                              </div>
                              <div class="panel-footer">
                                <input type="button" value="Select" class="btn btn-success" (click)="set_drone(drone.dro_id)">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Map Area Pnel     -->
          <div class="panel panel-primary">
            <div class="panel-heading">Required Map Area</div>
            <div class="panel-body">
              <app-map></app-map>
            </div>
          </div>
          <input type='submit' class='btn btn-success' value='Send Flying Request' id='submit' (click)=drone_selected()>
        </div>
      </form>
    </div>
  </div>
</div>