<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-customer></app-sidebar-customer>
    </div>
    <div class="col-md-10">

      <form #cus_new_req="ngForm" (ngSubmit)=get_req_data(cus_new_req) class="mybackground">
        <div class="container">
          <div class="page-header">
            <label>
              <h2>DroPort System - New Flying Request </h2>
            </label>
          </div>

          <!-- Flying Request Description panel -->
          
          <div class="panel panel-primary">
            <div class="panel-heading">Flying Request Description</div>
            <div class="panel-body">

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="req_type">Request Type :</label>
                </div>
                <div class="col-xs-5">
                  <select class="form-control " id="req_type" name="req_type" [(ngModel)]="req_type">
                    <option>Wedding</option>
                    <option>Media</option>
                    <option>Arial Photo</option>
                    <option>Research</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="exampleSelect1">District :</label>
                </div>
                <div class="col-xs-2">
                  <select class="form-control" id="district" name="district" (change)="populate(this.id,'town')" [(ngModel)]="district">
                    <option value="Your district">Your district</option>
                    <option value="Ampara">Ampara</option>
                    <option value="Anuradhapura">Anuradhapura</option>
                    <option value="Badulla">Badulla</option>
                    <option value="Batticaloa">Batticaloa</option>
                    <option value="Colombo">Colombo</option>
                    <option value="Galle">Galle</option>
                    <option value="Gampaha">Gampaha</option>
                    <option value="Hambantota">Hambantota</option>
                    <option value="Jaffna">Jaffna</option>
                    <option value="Kalutara">Kalutara</option>
                    <option value="Kandy">Kandy</option>
                    <option value="Kegalla">Kegalla</option>
                    <option value="Kilinochchi">Kilinochchi</option>
                    <option value="Kurunegala">Kurunegala</option>
                    <option value="Mannar">Mannar</option>
                    <option value="Matale">Matale</option>
                    <option value="Matara">Matara</option>
                    <option value="Moneragala">Moneragala</option>
                    <option value="Mullaitivu">Mullaitivu</option>
                    <option value="Nuwara Eliya">Nuwara Eliya</option>
                    <option value="Polonnaruwa">Polonnaruwa</option>
                    <option value="Puttalam">Puttalam</option>
                    <option value="Ratnapura">Ratnapura</option>
                    <option value="Trincomalee">Trincomalee</option>
                    <option value="Vavuniya">Vavuniya</option>
                  </select>
                </div>


                <div class="col-xs-2">
                  <label for="exampleSelect1">Town :</label>

                </div>
                <div class="col-xs-2">
                  <select class="form-control" id="town" name="town" required [(ngModel)]="town">
                    <option value="Your town">Your town</option>
                  </select>
                  <!-- <input type="text" class="form-control" id="town" name="town" > -->
                </div>


                <div class="col-xs-2">
                  <label for="town">Area :</label>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" id="area" name="area" [(ngModel)]="area">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="date" class="lable">Date :</label>
                </div>
                <div class="col-xs-2">
                  <input type="date" class="form-control" name="date" required="" [(ngModel)]="date">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="time">Time </label>
                </div>
                <div class="form-group col-xs-2">
                  <label for="time_from">From :</label>
                  <input type="time" class="form-control" id="time_from" name="time_from" [(ngModel)]="time_from">
                </div>
                <div class=" form-group col-xs-2">
                  <label for="time_to">To :</label>
                  <input type="time" class="form-control" id="time_to" name="time_to" [(ngModel)]="time_to">
                </div>
              </div>

              <div class="col-xs-5">
                <div class="form-group">
                  <div class="col-xs-5">
                    <label for="video_resolution"> Video Resolution(p) :</label>
                  </div>
                  <div class="col-xs-5">
                    <select class="form-control " id="video_resolution" name="video_resolution" [(ngModel)]="video_resolution">
                      <option>360</option>
                      <option>480</option>
                      <option>720</option>
                      <option>1080</option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="form-group col-xs-12">
                <div class="col-xs-2">
                  <label for="megapixels" class="lable">Megapixels :</label>
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" name="megapixels" required="" [(ngModel)]="megapixels">
                </div>
              </div>



              <div class="col-xs-6">
                <div class="form-group">
                  <div class="col-xs-6">
                    <label for="quality_category">Max Flight Time (In minutes) :</label>
                  </div>
                  <div class="col-xs-6">
                    <select class="form-control" name="max_flight_time" [(ngModel)]="max_flight_time">
                      <option>10</option>
                      <option>30</option>
                      <option>60</option>
                      <option>90</option>
                    </select>
                  </div>
                </div>
              </div>

              <!-- 
              <div class="form-group" *ngIf="!selected_drn">
                <div class="col-xs-12">
                  <button type='button' class='btn btn-warning' (click)="drone_selected()">{{drone_select? "Confirm Selection":"Select Drone"}}</button>
                  <a type='button' class='btn btn-success' routerLink="/cus_drn_select" target="_blank">Select Drone</a>
                </div>
              </div>

              <div class="form-group col-xs-12" *ngIf="selected_drn">
                <div class="col-xs-12" style="padding-top: 50px">
                  <div class="col-xs-5">
                    <strong> You Have Selected drone, Drone ID : </strong>
                  </div>
                  <div class="col-xs-5">
                    <input type="text" class="form-control" name="dro_id" [(ngModel)]="dro_id" value="{{dro_id}}" readonly>
                  </div>
                </div>
              </div> -->



              <!-- Button trigger modal -->
              <div class="col-md-12 form-group">
                <div class="form-group col-md-10">
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#sel_drn_modal" (click)=get_drones(video_resolution,megapixels,max_flight_time)>
                    {{dro_id? "Update":"Select Drone"}}
                  </button>
                </div>

                <div class="form-group col-xs-12" *ngIf="dro_id">
                  <div class="col-xs-12" style="padding-top: 50px">
                    <div class="col-xs-5">
                      <strong> You Have Selected drone, Drone ID : </strong>
                    </div>
                    <div class="col-xs-5">
                      <input type="text" class="form-control" name="dro_id" [(ngModel)]="dro_id" value="{{dro_id}}" readonly>
                    </div>
                  </div>
                </div>


              </div>


              <!-- Modal for drone select-->
              <div class="modal fade" id="sel_drn_modal" tabindex="-1" role="dialog" aria-labelledby="sel_drn_modalLable" aria-hidden="true">
                <div class="modal-dialog  modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      Select A drone
                      <div class="modal-body">

                        <!-- SELECT DRONE BODY -->
                        <div class="panel panel-primary">
                          <div class="panel-heading">
                            Selected Drone : {{selected_drn}} - {{selected_brand}}
                          </div>
                          <div class="panel-body">
                            <!-- looping each item of the array using ngFor directive -->
                            <div *ngFor="let drone of all_drone_arr" class="col-xs-6">
                              <div class="panel panel-default">
                                <div class="panel-heading">
                                  <h4>{{drone.brand}} {{drone.model}}</h4>
                                </div>
                                <div class="panel-body">
                                  <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Max Fly Time (min): {{drone.max_flight_time}}</li>
                                    <li class="list-group-item">Max Speed (km/h): {{drone.max_speed}}</li>
                                    <li class="list-group-item">Video Resolution (p) :{{drone.video_resolution}}</li>
                                    <li class="list-group-item">Megapixels (MP):{{drone.megapixels}}</li>
                                    <li class="list-group-item">
                                      <ngb-rating [(rate)]="currentRate"></ngb-rating>
                                    </li>
                                  </ul>
                                  <div>
                                    <a class="btn btn-primary btn-sm" role="button">View Details</a>
                                  </div>
                                  <div>
                                    <button type="button" class="btn btn-success btn-sm" (click)="set_drone(drone.dro_id,drone.model)">Select Drone</button>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="panel-footer">
                            <button type="button" class="btn btn-primary" (click)="conf_dron(selected_drn)" data-toggle="modal" data-target="#sel_drn_modal">
                              Confirm Drone</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
            <!-- Map Area Pnel     -->
            <div class="panel panel-primary">
              <div class="panel-heading">Required Map Area</div>
              <div class="panel-body">
                <app-map></app-map>
              </div>
            </div>
            <input type='submit' class='btn btn-success' value='Send Flying Request' id='submit'>
          </div>

        </div>
      </form>
    </div>
  </div>
</div>