
.img_new{
    width: 500px;
    height: auto;
    /* padding-left: 50px; */
    /* padding-bottom: 30px; */
    
}
#header {
    background-color: #ecf0f3;
    /* width: 1000px; */
}
<<<<<<< HEAD
/* .container_my{
    /* padding-left: 55px; */
    /* width: auto ; */
/* }  */
=======
.container_my{
    width: 100%;
}
>>>>>>> 58b3ea16587864769c5f64ba0a93dcbbfb9f322d

.center{
    /* margin: auto; */
    padding-top: 70px;
    font-size: 30px;
    font-family: 'Anton', sans-serif; 
    
}
.regul_img{
    padding-top: 50px;
    width: 200px;
    height:250px;
}


    
