
.img_new{
    width: 500px;
    height: auto;
    padding-left: 50px;
    
}
#header {
    background-color: #ecf0f3;
}
.container_my{
    padding-left: 55px;
    width: 1720px;
}

.center{
    margin: auto;
    padding-top: 70px;
    font-size: 25px;
    
}
.regul_img{
    padding-top: 50px;
    width: 200px;
    height:250px;
    position:fixed;
}