
.img_new{
    width: 500px;
    height: auto;
    /* padding-left: 50px; */
    /* padding-bottom: 30px; */
    
}
#header {
    background-color: #ecf0f3;
    /* width: 1000px; */
}
/* .container_my{
    /* padding-left: 55px; */
    /* width: auto ; */
/* }  */

.center{
    /* margin: auto; */
    padding-top: 70px;
    font-size: 30px;
    font-family: 'Anton', sans-serif; 
    
}
.regul_img{
    padding-top: 50px;
    width: 200px;
    height:250px;
}

h1{
    font-size: 50px;
    align-content: center;
    font-family: 'Marko One', sans-serif;
}


    
