<link href="https://fonts.googleapis.com/css?family=Anton" rel="stylesheet">
<div class="row" id="header">
  <div class="col-sm-4">
    <img class="img_new" src="../../../../assets/images/new.png">
  </div>
  <div class="col-sm-5">
    <div class="center">
      <h1 style="padding-left: 130px; color: blue;">A Web Portal For</h1>
      <h1 style="padding-left: 70px; color: blue">Drone Service Providers</h1>
    </div>
  </div>
  <div class="col-sm-3">
    <a href="http://www.caa.lk/index.php?option=com_content&view=article&id=714:operations-of-drones-require-approval-from-the-caasl&catid=155:important-news&lang=en">
      <img class="regul_img" src="../../../assets/images/rules.png">
      
    </a>
  </div>
</div>