<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-customer></app-sidebar-customer>
    </div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">Completed</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Pending</div>
      </div>
      <div class="panel panel-primary">
        <div class="panel-heading">Ongoing</div>
      </div>
    </div>
  </div>
</div>
