.container{
    width: auto;
    padding-bottom: 20px;

}

h1{
    font: caption;
    align-self: auto;
    font-size: 50px;

}

.img_new{
    width: 300px;
    height: auto;
    padding-left: 50px;
    
}