<div class="container-fluid">
  <div class="row">
    </div>
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-pilot></app-sidebar-pilot>
    </div>
    <div class="col-md-10">
       <div class="well well-xlg">
          <h2 class="display-3">Hello, Pilot!</h2>
          <p>You have received a request to complete a flying job by owner. Below are more details.</p>
          <hr class="my-3">
          
          <table class="table table-borderless">
            <tr>
              <th>
              FLYING JOB
            </th>
            </tr>
            <tr>
              <td scope="col">Request Type:</td>
              <td></td>
            </tr>
            <tr>
              <td  scope="col">District:</td>
              <td></td>
              <td  scope="col">Town:</td>
              <td></td>
              <td  scope="col">Area:</td>
              <td></td>
            </tr>
            <tr>
              <td  scope="col">
                Map Area:
              </td>
            </tr>
            <tr>
                <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d247.54344622829794!2d79.86114404732183!3d6.926997006376424!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2slk!4v1527065588894" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
              
            </tr>
            <tr>
              <td>Date:</td>
              <td></td>
              <td>Time:</td>
              <td></td>
            </tr>
            <tr>
              <td>Required Quality:</td>
              <td></td>
            </tr>
            <tr>
              <th>
                CUSTOMER DETAILS
              </th>
            </tr>
            <tr>
              <td>Name:</td>
            </tr>
            <tr>
              <td>Address:</td>
            </tr>
            <tr rowspan="2">
                <td>Contact No:</td>
                
                <td>Mobile No:</td>
                <td>Fixed No:</td>
              
              </tr>
          </table>
          <hr class="my-4">
          
          <a class="btn btn-primary btn-lg" href="#" role="button">Accept</a >
          <a class="btn btn-danger btn-lg" href="#" role="button">Reject</a>
        
  


    </div>
    </div>

  </div>
  <div class="row">
    Footer goes here!
  </div>

</div>
