<div ng-app="DroPort">
  <form #own_reg="ngForm" (ngSubmit)=get_owner_data(own_reg)>
    <div class="container">
      <div class="col-xs-12">
        <div class="col-xs-3">
          <app-sidebar></app-sidebar>
        </div>
        <div class="col-md-9">
          <div class="alert alert-info" role="alert">
             <h2 class="alert-heading">New Owner Registration</h2>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h4><b>Owner Details</b></h4>
            </div>
            <div class="panel-body">
              <fieldset>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="own_id">Owner ID :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="own_id" name="own_id" [(ngModel)]="own_id" placeholder="###">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="fname">First Name :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="fname" name="fname" [(ngModel)]="fname" placeholder="First Name">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="lname">Last Name :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="lname" name="lname" [(ngModel)]="lname" placeholder="Last Name">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="dob">DOB :</label></div>
                <div class="col-xs-10 ">
                  <input type="text" class="form-control" id="dob" name="dob" [(ngModel)]="dob" placeholder="DOB">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="age">Age :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="age" name="age" [(ngModel)]="age" placeholder="Age">
                </div>
              </div>
              
              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="sex">Sex :</label></div>
                <div class="col-xs-10">
                    <label class="radio-inline">
                      <input type="radio" value="male" [(ngModel)]="sex" name="sex">Male
                    </label>

                    <label class="radio-inline">
                      <input type="radio" value="female" [(ngModel)]="sex" name="sex">Female
                    </label>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="nic">NIC :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="nic" name="nic" [(ngModel)]="nic" placeholder="NIC">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="mobile_no">Mobile Number : </label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="mobile_no" name="mobile_no" [(ngModel)]="mobile_no" placeholder="07x xx xxxx">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="fixed_no">Fixed Number : </label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="fixed_no" name="fixed_no" [(ngModel)]="fixed_no" placeholder="0xx xx xxxx">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="validationemail">Email :</label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control is-valid" id="validationemail" name="email" [(ngModel)]="email" placeholder="example@email.com">
                  <div class="invalid-feedback">
                      Please choose a valid email.
                    </div>
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="fb_link">Facebook Link : </label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="fb_link" name="fb_link" [(ngModel)]="fb_link" placeholder="http://www.facebook.com/yourprofile">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="form-check">
                    <div class="col-xs-10">
                  <input class="form-check-input is-invalid" type="checkbox" value="" id="invalidCheck3" [(ngModel)]="invalidCheck3" required>
                  <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                  </label>
                </div>
              </div>
              </div>

          </fieldset>
          </div>
         
          

<!-- cridentials panel -->
<div class="panel-heading">
  <h4><b>Owner Registration </b></h4>
</div>
<div class="panel-body">
  <fieldset>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="username">Username : </label></div>
                <div class="col-xs-10">
                  <input type="text" class="form-control" id="username" name="username" [(ngModel)]="username" placeholder="">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="password">Password :</label></div>
                <div class="col-xs-10">
                  <input type="password" class="form-control" id="password" name="password" [(ngModel)]="password" placeholder="more than 8 digits">
                </div>
              </div>

              <div class="form-group col-xs-12">
                <div class="col-xs-2"><label for="con_password">Confirm Password :</label></div>
                <div class="col-xs-10">
                  <input type="password" class="form-control" id="con_password" name="con_password" [(ngModel)]="con_password" placeholder="more than 8 digits">
                </div>
              </div>

            </fieldset>
          </div>


            </div>
          </div>

          <div class="panel-footer">
              <a class="btn btn-primary btn-lg button" routerLink="" role="button">Submit</a>
            </div>
        </div>
    </div>
  </form>


</div>
