<div class="container-fluid">
  <div class="row">
     <div class="col-xs-2">
      <app-sidebar-owner></app-sidebar-owner>
    </div> 
    <div class="col-xs-10">
      <div class="panel panel-primary">
        <div class="panel-heading">Personal Details - Drone Owner</div>
        <div class="panel-body">
          <div class="col-xs-4">
            <img src="../../../../assets/user.png" alt="user" class="img-thumbnail"  >
          </div>
          <div class="col-xs-8">
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="pil_id">Owner ID :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="adm_id" name="adm_id" [(ngModel)]="adm_id" >
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="f_name">First Name :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="f_name" name="f_name" [(ngModel)]="f_name">
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="l_name">Last Name :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="l_name" name="l_name" [(ngModel)]="l_name">
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="dob">DOB :</label></div>
            <div class="col-xs-8">
                <form class="form-inline">
                    <div class="form-group">
                      <div class="input-group">
                        <input type="date" class="form-control" id="dp" name="dp" [(ngModel)]="model">
                        <!--<input class="form-control" placeholder="yyyy-mm-dd"
                               name="" [(ngModel)]="" ngbDatepicker #d="ngbDatepicker">
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary" (click)="d.toggle()" type="button">
                            <img src="img/calendar-icon.svg" style="width: 1.2rem; height: 1rem; cursor: pointer;"/>
                          </button>
                        </div>-->
                      </div>
                    </div>
                  </form>
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="gender">Gender :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="gender" name="gender" [(ngModel)]="gender">
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="age">Age :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="age" name="age" [(ngModel)]="age">
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="phone_mobile">Mobile No :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="phone_mobile" name="phone_mobile" [(ngModel)]="phone_mobile">
            </div>
          </div>
          <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="phone_fix">Fixed No :</label></div>
            <div class="col-xs-8">
              <input type="text" class="form-control" id="phone_fix" name="phone_fix" [(ngModel)]="phone_fix">
            </div>
          </div>
       
        <div class="form-group col-xs-12">
            <div class="col-xs-2"><label for="phone_fix">My Drones:</label></div>
            <div class="col-xs-8">
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
        </div>
      </div>
        <div class="panel-footer">
          <a class="btn btn-primary btn-lg button" routerLink="" role="button">Edit</a>
        </div>
      </div>

      <!-- Credentials Panel  -->

      <!-- <div class="panel panel-primary">
          <div class="panel-heading">Your Credentials</div>
          <div class="panel-body">

            <div class="form-group col-xs-12">
              <div class="col-xs-2"><label for="username">Username</label></div>
              <div class="col-xs-8">
                <input class="form-control" type="text" name="username" [(ngModel)] ="username">
              </div>
            </div>

            <div class="form-group col-xs-12">
              <div class="col-xs-2"><label for="curr_pw">Current Password</label></div>
              <div class="col-xs-8">
                <input class="form-control" type="password" name="curr_pw" [(ngModel)] ="curr_pw">
              </div>
            </div>

            
            <div class="form-group">
             change password div 
              <div *ngIf="show_change">
                <div class="form-group col-xs-12">
                  <div class="col-xs-2"><label for="curr_pw">Current Password</label></div>
                  <div class="col-xs-8">
                      <input class="form-control" type="password" name="curr_pw" [(ngModel)] ="curr_pw">
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="col-xs-2"><label for="new_pw">New Password</label></div>
                  <div class="col-xs-8">
                      <input class="form-control" type="password" name="new_pw" [(ngModel)] ="new_pw">
                  </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="col-xs-2"><label for="cnf_new_pw">Confirm New Password</label></div>
                  <div class="col-xs-8">
                      <input class="form-control" type="password" name="cnf_new_pw" [(ngModel)] ="cnf_new_pw">
                  </div>
                </div>

                <div class="form-group">
                  <button class="btn btn-danger">Change Password</button>
                </div>
              </div>

              <div><button class="btn btn-warning" (click)=show_change_pw()>{{show_change? "Cancel":"Change Credentials"}}</button></div> 
            </div> -->
            
          <!-- </div>
        </div> -->
    </div>
  </div>
</div>



