
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-3">
            <app-sidebar-admin></app-sidebar-admin>
        </div>
        <div class="col-xs-9">
            <div class="page-header"><h3>Admin Main Panel - {{user}}</h3></div>
            <div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th>#</th>
                            <th>Req ID</th>
                            <th>Town</th>
                            <th>Customer ID</th>
                            <th>Owner ID</th>
                            <th>Pilot ID</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>01</td>
                            <td>123</td>
                            <td>Piliyandala</td>
                            <td>456</td>
                            <td>789</td>
                            <td>963</td>
                            <td>2018-05-04</td>
                            <td>13:45</td>
                            <td><button class="btn btn-success">View More</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>