<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-customer></app-sidebar-customer>
    </div>
    <div class="col-md-8">
      <div class="panel panel-primary">
        <div class="panel-heading">DroPort System - New Flying Request </div>
        <form #cus_new_req ="ngForm" (ngSubmit)=get_req_data(cus_new_req) style=" padding-bottom: 50px;">
          <div class="container">
            <form id="send_new_req" #new_req_data = 'ngForm' (ngSubmit)="send_new_req(new_req_data)">
                <div class="form-group col-xs-12" style="padding-top: 50px;">
                    <!-- request details -->
                    <div class="col-xs-2">
                      <label for="req_type">Request Type :</label>
                    </div>
                    <div class="col-xs-8">
                      <select class="form-control " id="req_type" name="req_type" [(ngModel)]="req_type">
                        <option>Wedding</option>
                        <option>Media</option>
                        <option>Arial Photo</option>
                        <option>Research</option>
                        <option>Other</option>
                      </select>
                    </div>
                </div>
                

                <div class="form-group col-xs-12">
                    <div class="col-xs-2"><label for="map-area" class="lable">Date :</label></div>
                    <div class="col-xs-2">
                        <input type="date" class="form-control" id="date" name="date" [(ngModel)]="date">
                      </div>
                </div>

                <div class="form-group col-xs-12">
                  <div class="col-xs-1"><label for="time">Time </label></div>
                  <div class="col-xs-2"><label for="time_from">From :</label></div>
                  <div class="col-xs-2">
                    <input type="time" class="form-control" id="time_from" name="time_from" [(ngModel)]="time_from">
                  </div>
                  <div class="col-xs-2"><label for="time_to">To :</label></div>
                  <div class="col-xs-2">
                    <input type="time" class="form-control" id="time_to" name="time_to" [(ngModel)]="time_to">
                  </div>
                </div>

               <div class="form-group col-xs-12">
                  <div class="col-xs-2"><label for="drone" class="lable">Drone :</label></div>
                  <input type='submit' class='btn btn-success' value='Select Drone' id='submit' >
               </div>

               <div class="form-group col-xs-12">
                  <div class="col-xs-2"><label for="district">District :</label></div>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" id="district" name="district" [(ngModel)]="district">
                  </div>
                  <div class="col-xs-2"><label for="town">Town :</label></div>
                  <div class="col-xs-2">
                    <input type="text" class="form-control" id="town" name="town" [(ngModel)]="town">
                  </div>
              </div>

                <div class="form-group col-xs-12">
                    <div class="col-xs-2"><label for="map-area" class="lable">Map Area :</label></div>
                </div>

                <div class="form-group col-xs-11">
                    <app-map></app-map>
                </div>

            </form>
            <input type='submit' class='btn btn-success' value='Send Flying Request' id='submit' >
          </div>
        </form>
        </div>
    </div>

  </div>
 
</div>
