<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<form #cus_new_req ="ngForm" (ngSubmit)=get_req_data(cus_new_req)>
<div class="container">

  <div>
    <label for="heading"><h2>DroPort System - New Flying Request </h2></label>
  </div>

    <form id="send_new_req" #new_req_data = 'ngForm' (ngSubmit)="send_new_req(new_req_data)">

      <div class="col-xm-4">
        <label for="req_id" class="lable">Flying Request ID</label>
        <input type="text" class="form-control" name="id" required="" ng-model="req_id">
      </div>

      <div class="form-group">
          <label for="district" class="lable">District</label>
          <input type="text" class="form-control" name="district" required=""  [(ngModel)]="district">
      </div>

      <div class="form-group">
          <label for="town" class="lable">Town</label>
          <input type="text" class="form-control" name="town" required="" [(ngModel)]="town" >
      </div>
      
      <div class="form-group">
          <label for="area" class="lable">Area</label>
          <input type="text" class="form-control" name="area" required="" [(ngModel)]="area" >
      </div>
      
      <div class="form-group">
          <label for="date" class="lable">Date</label>
          <input type="text" class="form-control" name="date" required="" [(ngModel)]="date" >
      </div>

      <div class="form-group">
        <label for="time" class="lable">Time</label>
        <input type="text" class="form-control" name="time" required="" [(ngModel)]="time" >
      </div>

    

      <div class="form-group">
          <label for="cus_id" class="lable">Customer ID</label>
          <input type="text" class="form-control" name="cus_id" required="" [(ngModel)]="cus_id">
      </div>

    </form>

  <input type='submit' class='btn btn-success' value='Send Flying Request' id='submit' >


</div>


