<!-- <div class="container-fluid" *ngFor = "let districts for district">
<app-cus-new-req [district]="districts"></app-cus-new-req>
</div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <app-sidebar-customer></app-sidebar-customer>
    </div>
    <div class="col-md-10">
      <div class="col-md-4">
        <div class="thumbnail">
          <img src="../../../../assets/drone.jpg" alt="drone">
          <hr>
          <div *ngFor="let drone of all_drone_arr">
            <h3>{{drone.brand}} {{drone.model}}</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Max Fly Time : {{drone.max_flight_time}}</li>
              <li class="list-group-item">Max Speed : {{drone.max_speed}}</li>
              <li class="list-group-item">Video Resolution (p) :{{drone.video_resolution}}</li>
              <li class="list-group-item">Megapixels (MP):{{drone.megapixels}}</li>
              <li class="list-group-item">
                <ngb-rating [(rate)]="currentRate"></ngb-rating>
              </li>
            </ul>
            <p>
              <a routerLink="" class="btn btn-primary btn-sm" role="button">View Details</a>
            </p>
            <p>
              <a type="submit" class="btn btn-primary btn-sm" role="button">Select Drone</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
