<div class="container-fluid">

    <div class="row">
      <div class="col-md-3"> 
        <app-sidebar-owner></app-sidebar-owner>
      </div>
      <div class="col-md-9">
        <div class="page-header">
            <h3 class="display-3">My Drones</h3>
        </div>
          
          
             <div class="row col-md-12">
               <div class="col-md-4">
                  <div class="thumbnail">
                      <img src="../../../../assets/drone.jpg" alt="drone">
                      <hr>
                      <div>
                        <h3>Single-Rotor drones</h3>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Drone type : {{drone_type}}</li>
                            <li class="list-group-item">location:</li>
                            <li class="list-group-item">Price:</li>
                            <li class="list-group-item">Quality:</li>
                            <li class="list-group-item">Contact No:</li>
                          <li class="list-group-item">
                          <ngb-rating [(rate)]="currentRate"></ngb-rating></li>
                          </ul>
                        <p><a routerLink="/drone_reg" class="btn btn-primary btn-sm" role="button">View Details</a> </p>
                      </div>
                    </div>

               </div>

               <!-- ################################################################### -->
               <div class="col-md-4">
                  <div class="thumbnail">
                      <img src="../../../../assets/drone.jpg" alt="drone">
                      <hr>
                      <div>
                        <h3>Single-Rotor drones</h3>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Drone type : {{drone_type}}</li>
                            <li class="list-group-item">location:</li>
                            <li class="list-group-item">Price:</li>
                            <li class="list-group-item">Quality:</li>
                            <li class="list-group-item">Contact No:</li>
                            <li class="list-group-item">
                                <ngb-rating [(rate)]="currentRate"></ngb-rating></li>
                          </ul>
                        <p><a routerLink="/drone_reg" class="btn btn-primary btn-sm" role="button">View Details</a> </p>
                      </div>
                    </div>
               </div>
               <!-- ################################################################# -->
               <div class="col-md-4">
                  <div class="thumbnail">
                      <img src="../../../../assets/drone.jpg" alt="drone">
                      <hr>
                      <div>
                        <h3>Single-Rotor drones</h3>
                          <ul class="list-group list-group-flush">
                            <li class="list-group-item">Drone type : {{drone_type}}</li>
                            <li class="list-group-item">location:</li>
                            <li class="list-group-item">Price:</li>
                            <li class="list-group-item">Quality:</li>
                            <li class="list-group-item">Contact No:</li>
                            <li class="list-group-item">
                                <ngb-rating [(rate)]="currentRate"></ngb-rating></li>
                          </ul>
                        <p><a routerLink="/drone_reg" class="btn btn-primary btn-sm" role="button">View Details</a> </p>
                      </div>
                  </div>
              </div>
            </div>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                  <li class="page-item-center">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
              </nav>
          </div>
        </div>
    </div>
