<div class="row">
  <div class="col-md-2">
    <!-- side bar -->
  </div>
  <div class="col-md-10">

    <div class="panel panel-primary col-md-11">
      <div class="panel-heading">Available Drone List</div>
      <div class="panel-body">

        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body">
              checked 2
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
          </div>
        </div>

      </div>
      <div class="panel-footer"></div>
    </div>
  </div>
</div>